<!doctype html>
<html lang="en" class="h-full">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="/favicon.ico?v=1.0" type="image/x-icon" />
        <link href="/media/0/docs/assets/output.css" rel="stylesheet">
        <title>{{ title|default('Homepage') }}</title>
    </head>
    <body class="h-full">
        <div class="mx-auto flex flex-col min-h-screen">
            {{ include('@docs/common/navbar.twig') }}
            <main class="container mb-auto mx-auto">
                {% block content %}
                {% endblock %}
            </main>
            <footer class="footer footer-center p-4 bg-base-300 text-base-content">
                <aside>
                    <p>Copyright © 2024 - All right reserved by ACME Industries Ltd</p>
                </aside>
            </footer>         
        </div>
    </body>
</html>
